/* Sidebar Title Styling */
.sidebar-title {
  color: #ecf0f1;
  margin-bottom: 20px;
}

/* Styling for Sidebar Links */
.sidebar-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Active Link Styling */
.sidebar-link.active {
  background-color: #34495e;
  color: white;
}

/* Hover Effect for Sidebar Links */
.sidebar-link:hover {
  background-color: #34495e;
  transform: scale(1.05); /* Slightly scale up on hover */
}

/* Icon Styling */
.sidebar-icon {
  font-size: 1.5rem;
  margin-right: 15px;
  transition: color 0.3s ease;
}

/* Hover Effect on Icon */
.sidebar-link:hover .sidebar-icon {
  color: #ecf0f1;
}

/* Sidebar Styles */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #18546b; /* Dark background */
  color: white; /* Text color */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Full height */
  width: 250px; /* Sidebar width */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional box shadow for depth */
}

/* If you need to adjust the sidebar for responsiveness */
@media (max-width: 768px) {
  .sidebar {
    width: 200px; /* Adjust width for smaller screens */
  }
}
